<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.prize.commons.db.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.itheima.prize.commons.db.entity.SysUser">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="realname" column="realname" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="salt" column="salt" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="sex" column="sex" jdbcType="TINYINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
            <result property="thirdId" column="third_id" jdbcType="VARCHAR"/>
            <result property="thirdType" column="third_type" jdbcType="VARCHAR"/>
            <result property="activitiSync" column="activiti_sync" jdbcType="TINYINT"/>
            <result property="workNo" column="work_no" jdbcType="VARCHAR"/>
            <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="userIdentity" column="user_identity" jdbcType="TINYINT"/>
            <result property="departIds" column="depart_ids" jdbcType="VARCHAR"/>
            <result property="clientId" column="client_id" jdbcType="VARCHAR"/>
            <result property="loginTenantId" column="login_tenant_id" jdbcType="INTEGER"/>
            <result property="bpmStatus" column="bpm_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,realname,
        password,salt,avatar,
        birthday,sex,email,
        phone,org_code,status,
        del_flag,third_id,third_type,
        activiti_sync,work_no,telephone,
        create_by,create_time,update_by,
        update_time,user_identity,depart_ids,
        client_id,login_tenant_id,bpm_status
    </sql>
</mapper>
